ul.list-unstyled
  li
    a(href="#gettingStartingList" data-toggle="collapse") Getting Started
    ul#gettingStartingList.list-unstyled.collapse
      li: a(href="#intro") Introduction
      li: a(href="#installing") Installing