h1.display-2() Getting Started
section#getting-started
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  h2.display-3(id="intro") Introduction
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  h2.display-3(id="installing") Installing
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.