+navbar-fluid("myNavbar","full","inverse",site.title)
  +nav-menu("navMenuLeft","left",navLinks)
  button.navbar-toggler.pull-xs-right(type="button" data-toggle="collapse" data-target="#exCollapsingNavbar1")
    | &#9776;